* body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
nav ul li a:hover {
    text-decoration: underline;
    background-color: #277b29; 
    border-radius: 4px; 
}

.image-container {
    text-align: center; 
    margin: 20px 0; 
}

.float-img {
    max-width: 100%;
    height: auto;
}

header {
    background: #4CAF50;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: #fff; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333; 
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #FFFFFF;
    position: relative;
    bottom: 0;
    width: 100%;
}

ol, ul {
    margin: 20px 0;
    padding-left: 20px;
}

li {
    margin: 10px 0;
}

.FoulShot {
    margin-top: 10px; 
    text-align: center;
}

.JamesHarden, .Technique {
    font-size: 0.9em; 
    color: gray;
    text-align: center; 
}

img {
    width: 75%; 
    max-width: 700px; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

    .highlight {
            font-weight: bold; 
            color: #4CAF50;}
        .foulshotinfo {
            margin: 15px 0; 
            background-color: #f9f9f9; 
            padding: 10px; 
            border-left: 4px solid #4CAF50;
        }

        .highlight {
    font-weight: bold; 
    color: #4CAF50; 
}

.float-img2 {
    float: left;
    margin: 0 10px 10px 0; 
    width: 100px; 
    height: 80px; 
}