body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eb8f2c;
}

header {
    font-family:monospace;
    font-size: 29px;
    text-align: center;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(255, 251, 0, 0.867);
}
.mainimage {
  max-width: 70%;
  height: auto;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 18px yellowgreen;

}
nav.nav a {
  color: rgb(198, 64, 30);
  text-decoration: none;
}
nav.nav a:hover {
  color: rgb(255, 247, 0);
  text-decoration: none;
}
footer {
    color:darkblue;
    text-align: center;
    padding: 20px;
}
h2 {
  margin-left: 40px;
}

img {
   max-width: 100%;
   height: auto;
}

.directions p {
  margin-left: 50px;
  margin-right: 50px;
}
  .directions {
        display: none;
   }
.map-image {
        display: none
}
footer {
   display: block;
   text-align: center;
}

/* My media query ranges were based off of the responsive web design ranges that I am 
currently using to make wireframes prototypes in GD210.
        Desktop 1440px1024px. Tablet 768pxx1024px. Mobile 380pxx320px*/

/* Responsive for DESKTOP using standard width of 1024px*/
@media screen and (min-width: 1024px) {
    .meat-tacos {
        display: inline-block;
        display: inline-block; 
        margin: 40px
    }
     .veggie-taco {
        display: inline-block;
        display: inline-block; 
        margin: 40px
    }
   footer {
        display: block;
      }
    .directions {
      display: none;
    }
    .map-image {
      display: none;
    }
}
/* Responsive for TABLET using industry standard of 769px*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .meat-tacos, .veggie-taco {
        display: flex; 
        align-items: center;
        margin-bottom: 20px;
        margin-left: 40px;
    }
    .meat-tacos img, .veggie-taco img {
      width: 200px;
      margin-right: 20px;
    }
     
    footer {
      display: block;
    }
  
   footer p {
        display: none;
   }
   .contact-info {
        display: block;
   }
      .directions {
      display: none;
    }
    .map-image {
      display: none;
    }
}
   /* Responsive for MOBILE devices max width of 769px just near the tablet breakpoint*/
@media screen and (max-width: 767px) {
    .meat-tacos {
      display: none;
    }
    .veggie-taco {
        display: none;
    }
   
    .directions {
        display: block;
        text-align: center;
        margin: 20px 0;
    }
    .map-image {
      display: block;
      max-width: 45%;
      height: auto;
      margin: 0 auto;
      
    }
    footer {
      display: none;
}
h2, nav {
  display: none;
}
}