h1 {
    border-style: solid;
    border-color: blue;
    font-size: 40px;
    font-weight: bold;

}

h2 {
    color: navy; 
    font-size: 30px; 
    font-weight: bold; 
    font-family: 'Arial', sans-serif; 
    font-style: italic;
}
    body {
            text-align: center; 
        }
        img {
            display: block; 
            margin: 0 auto; 
        }